.loginContainer{
    background: url('./images/randyForWeb3.jpg');
    text-align: center;
    align-content: center;
    background-color: white;
     position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 60%;
    border-radius: 35px;
    background-size: cover ;
    background-repeat: no-repeat;
    border: 2px solid black;

}

.loginBox {
    position: relative;
    width: 40%;
    margin: 24% 43%;
    background-color: rgba(40, 173, 213, 0.712);
    padding: 10px;
    border-radius: 15px;

}

.loginForm label{
    display: block;
}

.loginForm input{
    width: 75%;
    margin: 5px;
}



.loginContainer button{
    align-content: center;

}
