.uploadBtns {
    display: grid; 
    grid-template-columns: 100%;
}

.btn {
    width: 75%;
    margin: auto;
}

.fileInput {
    margin: auto;
    background-color: #FE4448;
    width: 75%;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding-top: 10px;
}

.uploadForm{
    display: grid;
    grid-template-columns: 100%;
    background-color: #28AED5;
    width: 100%;
    margin: auto;
    height: 710px;
    border-radius: 15px;
    padding: 5px;
}

.formContainer {
    margin: 0.5rem auto 0.5rem auto;
    text-align: center; 
    width: 25%;
    opacity: 0.95;
    
}

.photoInfo {
    padding-bottom: 0;
    height: 450px;
}
.photoEXIF {
    display: none;
}

form.uploadForm label{
    display: block;
    margin: auto;
}

form.uploadForm input{
    padding: 10px 50px;
    width: 50px;
    height: 10px;
    margin: 2px;
    width: 50%;
    font: 12px;
    text-align: center;
}

#selectFile {
    display: none;
}


#desc {
    padding: 75px 50px;
    text-align: left;
}